.homepage-content{
    background: none repeat scroll 0 0 #fff;
    position: absolute;
    left: 250px;
    right: 0;
    top: 70px;
    bottom:0;
    width: auto;
    padding:40px;
    box-sizing: border-box;
    overflow-y: scroll;
    margin-top: 10px;
}

.homepage-content-p{
		color: blueviolet;
		font-size: 20px;
	}